$header-background-color: #25313e;
$aside-background-color: #41586e;
$aside-collapse-background-color: #2e3e4e;

$b-dark: #374b5e;

$a-default-color: #adbece;
$body-color: #717171;

$breadcrumb-background-color: #fff;
$breadcrumb-color: #999!important;


$circle-inside-color: #fff;
$circle-outside-color: rgb(76, 200, 124);

$panel-default-border-color: #e8e8e8;